<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<link href='https://fonts.googleapis.com/css?family=Montserrat Alternates' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet'>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JabkaDev - Добавить статью</title>
    <link th:href="@{../../css/add_articles.css}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f18452ea2a.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.tiny.cloud/1/ilfmtjwh204stqwkx6qs1og1ba9mry0n2pcy5ox1dfxmj1b8/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>

    <script th:src="@{../../js/format.js}" rel="script"></script>

</head>
<body>
<header>


    <div class="title-back"><h1>JabkaDev</h1></div>


    <div sec:authorize="isAuthenticated()" class="text-center p-3">

        <nav>
            <ul>
                <li><a th:href="@{/personal}">Личный кабинет</a></li>
                <li>
                    <form th:action="@{/logout}" method="post">
                        <input type="submit" value="Logout" class="logout"/>
                    </form>
                </li>
            </ul>
        </nav>

    </div>
    <div sec:authorize="!isAuthenticated()" class="text-center p-3">
        <nav>
            <ul>
                <li><a th:href="@{/login}">Войти</a></li>
            </ul>
        </nav>
    </div>


</header>


<div class="container">


    <main>

        <section>
            <div class="title-form">
                <h2 class="title-form-text">Mobile Development Blog - Добавить статью</h2>
            </div>

        </section>
    </main>


    <hr class="hr-title">


    <div class="blog-contain">
        <form th:action="@{/admin/add}" method="post">



                <label for="title">Заголовок: </label>
                <input type="text" id="title" name="title" placeholder="Заголовок:">

                <label for="description">Описание: </label>
                <input type="text" id="description" name="description" placeholder="Описание:">

                <label for="text">Текст статьи:</label>
            <textarea id="text" name="text" >

        </textarea>
            <script>
                tinymce.init({
                    selector: '#text',
                    plugins: 'ai tinycomments mentions anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed export formatpainter pageembed permanentpen footnotes advtemplate advtable advcode editimage tableofcontents mergetags typography inlinecss',
                    toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | align lineheight | tinycomments | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
                    tinycomments_mode: 'embedded',
                    tinycomments_author: 'Author name',
                    mergetags_list: [
                        { value: 'First.Name', title: 'First Name' },
                        { value: 'Email', title: 'Email' },
                    ],
                    ai_request: (request, respondWith) => respondWith.string(() => Promise.reject("See docs to implement AI Assistant")),

                });
            </script>
                <input type="submit" value="Send">



        </form>
    </div>
</div>





</body>
<div id="sm-wrapper">
    <footer>
        <p class="footer-txt">© JabkaDev, 2023</p>
        <img

                th:src="@{../../playground_assets/jabka.png}"
                src="../../static/playground_assets/jabka.png"
                class="footer-pic"
        >

    </footer>
</div>
</html>