<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<link href='https://fonts.googleapis.com/css?family=Montserrat Alternates' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet'>
<link th:href="@{../../css/articles.css}" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JabkaDev - Блог</title>

</head>
<body>
<header>


    <div class="title-back"><h1>JabkaDev</h1></div>


    <div sec:authorize="isAuthenticated()" class="text-center p-3">

        <nav>
            <ul>
                <li><a th:href="@{/personal}">Личный кабинет</a></li>
                <li>
                    <form th:action="@{/logout}" method="post">
                        <input type="submit" value="Logout" class="logout"/>
                    </form>
                </li>
            </ul>
        </nav>

    </div>
    <div sec:authorize="!isAuthenticated()" class="text-center p-3">
        <nav>
            <ul>
                <li><a th:href="@{/login}">Войти</a></li>
            </ul>
        </nav>
    </div>


</header>


<div class="container">


    <main>

        <section>
            <div class="title-form">
                <h2 class="title-form-text" th:text="${blog.getTitle()}"></h2>
            </div>

        </section>
    </main>


    <hr class="hr-title">


    <div class="blog-contain">

        <div class="blog-container">
            <div class="title-link">

                <h3 th:utext="${blog.getText()}"></h3>
                <!--<a class="a" th:href="@{/blog}"><input type="button" value="Blog"></a>-->
            </div>
        </div>
        <hr>
    </div>


</div>


</body>
<div id="sm-wrapper">
    <footer>
        <p class="footer-txt">© JabkaDev, 2023</p>
        <img

                th:src="@{../../playground_assets/jabka.png}"
                src="../../static/playground_assets/jabka.png"
                class="footer-pic"
        >

    </footer>
</div>
</html>