
* {
    margin: 0;
}

/*Убрать полосу прокрутки для всей страницы*/
::-webkit-scrollbar {
    width: 0;
}

body {
    margin: 0;
    font-family: 'Oswald';
    background-color: #252525;
}


li {
    list-style-type: none;
}


hr {
    margin: 0;
}

a {
    border-radius: 20px;
    color: #fff;
    text-decoration: none;
}

.profile-pic {
    width: 100%;
}

/* стили для мобильных устройств */
@media only screen and (max-width: 600px) {
    /* заголовок и навигация */
    header {
        background-color: black;
        padding: 10px;
        text-align: center;
    }

    h1 {
        color: black;
        font-size: 28px;
        margin: 0;
    }

    nav ul {
        display: none;
    }

    nav.open ul {
        display: block;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    nav.open li {
        display: block;
        padding: 10px;
        border-bottom: 1px solid #fff;
    }

    nav.open li:last-child {
        border-bottom: none;
    }

    nav a {
        color: #fff;
        font-size: 20px;
        text-decoration: none;
        display: block;
    }

    /* секции */
    section {
        padding: 20px;
    }

    .profile-pic {
        display: none
    }

    h2 {
        font-size: 24px;
        margin: 0 0 10px;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    li {
        font-size: 18px;
        line-height: 1.5;
        margin-bottom: 10px;
        padding-left: 20px;
        position: relative;
    }

    li:before {
        content: "•";
        color: #8e8e8e;
        font-size: 12px;
        left: 0;
        position: absolute;
        top: 6px;
    }
}

/* стили для планшетов */
@media only screen and (min-width: 601px) and (max-width: 960px) {
    /* заголовок и навигация */
    header {
        padding: 20px;
        background-color: yellow;
    }

    h1 {
        font-size: 36px;
    }

    nav ul {
        display: block;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    nav li {
        display: inline-block;
        padding: 10px 20px;
        border-bottom: none;

    }

    /* секции */
    section {
        padding: 40px;
        width: 100%;

    }

    .profile-pic {
        display: none
    }

    h2 {
        font-size: 36px;
    }

    li {
        font-size: 24px;
        line-height: 1.5;
        margin-bottom: 20px;
        padding-left: 30px;
        position: relative;
    }

    li:before {
        font-size: 18px;
        top: 8px;
    }
}

/* стили для настольных компьютеров */
@media only screen and (min-width: 961px) {
    /* заголовок и навигация */
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 50px;
        background: black;
    }

    .container {
        /* max-width: 1020px; */
        /* width: 80%; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        /* border: black; */
        box-shadow: black;
        /* border-radius: 20px; */
        /* justify-content: flex-start; */
        margin-top: 5%;

    }

    main {
        display: inline-flex;
        background-color: #252525;
    }

    h1 {
        font-size: 48px;
    }

    h3 {
        margin-top: 20px;
        font-family: 'Montserrat';
        font-size: 30px;
        font-weight: normal;
        width: 50%;
    }

    nav ul {
        display: flex;
        align-items: center;
    }

    nav li {
        border-bottom: none;
        margin-right: 100px;
    }

    nav a {
        font-size: 20px;
        padding: 10px 20px;
        border-radius: 20px;
        color: #fff;
        background-color: #252525;
        text-decoration: none;
    }

    nav a:hover {
        background-color: #555;
    }

    /* секции */
    section {
        width: 100%;
        background-color: #252525;
    }

    h2 {
        font-size: 48px;
    }

    li {
        font-size: 40px;
        margin-bottom: 30px;

    }

    li:before {
        font-size: 24px;
        top: 10px;
    }

    /* подвал */
    footer {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        background-color: black;
        color: #fff;
        text-align: center;
        padding: 15px;
    }


    main {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        border-radius: 10px;
        background: #222222;
    }


    .describe-text li {
        font-size: 15px;
        list-style-type: disc;
        margin: 0;
    }

    .describe-text-first li {
        font-size: 15px;
        list-style-type: disc;
        margin: 0;
    }


    .a-class a {
        text-decoration: none;
        background: none;
    }


    .title-back {
        background: black;
        color: white;
        padding: 20px 40px;
        margin-left: 110px;
    }

    header {
        padding: 0;
    }


    input[type="button"] {
        color: #fff;
        background-color: #252525;
        cursor: pointer;
        margin-top: 20px;
        text-decoration: none;
        list-style-type: none;
        /* font-weight: bold;*/

        border: 1px solid #252525;
        border-radius: 20px;
        font-size: 16px;
        padding: 10px 75px;
        width: 100%;
    }

    input[type="text"], input[type="email"], input[type="submit"], input[type="file"], input[type="button"], textarea {
        border-radius: 5px;
        border: 1px solid #000000;
        font-size: 16px;
        padding: 10px;
        width: 100%;
    }

    input[type="button"] {
        background-color: yellow;
        color: #000;
        cursor: pointer;
        margin-top: 20px;
    }

    .title-link {
        display: flow-root;
        margin: 70px 150px;
        width: 100%;
    }

    .a input[type="button"] {
        color: #fff;
        background-color: #333652;
        cursor: pointer;
        margin-top: 20px;
        text-decoration: none;
        list-style-type: none;
        /* font-weight: bold;*/

        border: 1px solid #333652;
        border-radius: 20px;
        font-size: 16px;
        padding: 10px 75px;
        width: 100%;
    }

    .title-form {
        font-family: 'Oswald';
        display: grid;
        align-items: center;
        justify-content: center;
        color: white;
        font-weight: lighter;
    }

    .phone-pic {
        display: flex;
        width: 50%;
    }

    .blog-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .blog-container-pic {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }


    .footer-pic {
        margin-left: 25%;
    }

    .footer-txt {
        font-size: 20px;
        margin-left: 10%;
    }

    .blog-contain {
        display: grid;
        justify-content: center;
        align-items: center;
        width: 80%;
        color: white;
        margin-bottom: 5%;

    }

    .hr-title {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
    }

    .textarea-class {
        height: 500px;
    }

}

header {
    font-family: 'Montserrat Alternates';
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
    background: black;
}

.header h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.toolbar {
    background: #2E3641;
}
.newPost .toolbar .customSelect {
    float: right;
    position: relative;
}
.newPost .toolbar .customSelect select {
    appearance: none;
    border-radius: 0;
    border: none;
    background: #2E3641;
    height: 45px;
    padding-left: 10px;
    padding-right: 25px;
    color: #C1CFD9;
    border-left: 1px solid #434f5f;
    outline: none;
    font-weight: bold;
    cursor: pointer;
}
.newPost .toolbar .customSelect select:hover {
    background: #394250;
    color: #b1c3cf;
}
.newPost .toolbar .customSelect:after {
    content: "\f0dc";
    font-family: FontAwesome;
    color: #C1CFD9;
    position: absolute;
    right: 10px;
    top: 15px;
}
.toolbar button {
    float: left;
    width: 45px;
    height: 45px;
    background: #2E3641;
    border: none;
    border-right: 1px solid #434f5f;
    color: #C1CFD9;
    outline: none;
    cursor: pointer;
}
.toolbar button:hover {
    background: #394250;
    color: #b1c3cf;
}
.toolbar:after {
    content: '';
    display: block;
    clear: both;
}
.editor, .texthidd {
    min-height: 300px;
    width: 96%;
    resize: none;
    box-shadow: inset 0px 0px 3px #C1CFD9;
    outline: none;
    padding: 15px 2%;
    margin-bottom: 20px;
    position: relative;
    background: #fff;
    line-height: 1.6em;
    color: black;
}
.editor{
    display: block;
}
.editor ul{
    list-style: disc;
    padding-left: 20px;
}
.editor ol{
    list-style: decimal;
    padding-left: 20px;
}
.texthidd{
    display: none;
}
.smileys{
    clear: both;
    overflow: hidden;
    background: #444F5F;
    display: none;
}
.smileys button{
    background: #444F5F;
    border: none;
    border-right: 1px solid #434f5f;
}
.linkform{
    clear: both;
    overflow: hidden;
    background: #444F5F;
    display: none;
}
.link{
    padding: 1.11em 2%;
    border: none;
    width: 78%;
    float: left;
}
.linkform .functionlinkto{
    content: "Ajouter";
    width: 18%;
    margin: 0;
    border: none;
    background: #444F5F;
}